*
{
    font-family: system-ui;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1
{
    font-weight: 400;
    width: max-content;
    border-bottom: 1px solid rgb(191, 190, 190);
    color:gray;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-bottom: 2%;
}

.image_gallery
{
    columns: 3 300px;
}

.image_gallery img
{
    width: 100%;
    margin:10px;
    object-fit: contain;
}

.image_gallery img:hover
{
    filter:brightness(70%);
}


.loadmore
{
    padding: 10px 20px;
    border:none;
    margin:3% auto;
    display: block;
    background-color: blueviolet;
    color:white;
    font-weight: 600;
}

.showmodel
{
    z-index: 10;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.8);
    display:flex;
    justify-content:center;
    align-items:center;
}

.showmodel img
{
    object-fit: contain;
}

.showmodel .close
{
    background-color: red;
    border:none;
    color:white;
    padding: 10px;
    position: absolute;
    top:2%;
    right:2%;
}

.hidemodel
{
    display: none;
}